.icon {
    text-align: right;
   
}
 .icon img{
    width: 100%;
    margin: 0 50px 0 auto;
    float: left;
 }

 .mainWeatherDiv{
    width: 100%;
    margin: 10px auto;
    border: solid 1px grey;
    padding: 110px;
    background-repeat: no-repeat;
    background-size: cover; 
    background-image: url("/images/background.jpg");
    color: white;
}

.myClass-appear{
    opacity: 0
}

.myClass-appear-active{
    opacity: 1;
    transition: opacity 2000ms;
}

.myClass-enter{
    opacity: 0;
}

.myClass-enter-active{
    opacity: 1;
    transition: opacity 2000ms;
}

.myClass-enter-done{
    opacity: 1;

} 

 .mainTemperature{
    float: left;
    width: 100%;
    text-align: center;
    margin: 30px auto 0px auto;
 }

 /* .searchBar {
    float: left;
    width: 45%;
    margin-left: 20%;
    margin-top: 100px
} */

 .searchButton{
    float: left;
    /* width: 20%; */

 }



form input[type=text] {
    float: left;
    margin: auto

}

.form-control {
    width: 350px;
}

.formDiv{
    margin: 100px auto 20px auto;
}

.formDiv form{
    margin: auto;
    width: 33%
}

